* {
  font-family: "Times New Roman";
}

.main-heading {
  font-size: 52px;
  font-style: italic;
  text-align: center;
}

/* Homepage */

.homepage-link a {
  text-decoration: none;
  color: inherit;
}

.homepage-link {
  font-size: 28px;
  font-weight: 800;
  color: black;
}

#spaghetti-bolognese-link {
  color: green;
}

#chicken-wings-link {
  color: red;
}

#beef-stroganoff-link {
  color: blue;
}

/* Recipes */

.meal-img {
  height: auto;
  width: 800px;
}

.secondary-heading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

li {
  font-family: inherit;
}

.ingredients-list {
  font-family: sans-serif;
  font-size: 24px;
}

.steps-list {
  font-family: sans-serif;
  font-size: 28px;
}